.glitch-wrapper {
    position: relative;
    display: inline-block;
}

.glitch {
    position: relative;
    color: white;
    font-weight: 900;
    letter-spacing: 0.1em;
    z-index: 1;
}

.glitch::before,
.glitch::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
}

.glitch::before {
    left: 2px;
    text-shadow: -1px 0 #00ffff;
    clip-path: inset(24% 0 29% 0);
    animation: glitch-anim-1 2.5s infinite linear alternate-reverse;
}

.glitch::after {
    left: -2px;
    text-shadow: -1px 0 #ff00ff;
    clip-path: inset(85% 0 3% 0);
    animation: glitch-anim-2 3s infinite linear alternate-reverse;
}

@keyframes glitch-anim-1 {
    0% {
        clip-path: inset(40% 0 61% 0);
    }

    20% {
        clip-path: inset(92% 0 1% 0);
    }

    40% {
        clip-path: inset(43% 0 1% 0);
    }

    60% {
        clip-path: inset(25% 0 58% 0);
    }

    80% {
        clip-path: inset(54% 0 7% 0);
    }

    100% {
        clip-path: inset(58% 0 43% 0);
    }
}

@keyframes glitch-anim-2 {
    0% {
        clip-path: inset(12% 0 57% 0);
    }

    20% {
        clip-path: inset(62% 0 7% 0);
    }

    40% {
        clip-path: inset(13% 0 77% 0);
    }

    60% {
        clip-path: inset(86% 0 8% 0);
    }

    80% {
        clip-path: inset(19% 0 30% 0);
    }

    100% {
        clip-path: inset(63% 0 6% 0);
    }
}